{% extends "base.html" %}

{% block content %}
<style>

</style>

<br><br><br>
<div class="about-contain">
    <img style="height:inherit;border-radius: 15px;" src="static/images/woman-in-soho.jpeg" />
    <div style="width:70%;max-width: 700px;" class="about-content-cont"><h4> We’re excited to see you embracing online solutions! As the world shifts towards digital,
        we’re right there with you, ready to be a game-changer in the technology industry.<br><br>Our platform is designed with your needs in mind, allowing you to work effortlessly from the comfort of your home or office.</h3>
    </div>
    </div>

<h1 style="color:coral;width:60%;margin:0 auto;text-align: center;">  Join us in this innovative journey and experience the ultimate convenience in the digital landscape,</h1>
<br><br>
    <div style="gap:25px;margin-top:;height:auto" class="about-contain">
        <div class="icons-contain"><img style="height:70px !important" src="static/icons/graphic-design-icon-paint-brush-art.svg" /><p>Graphic Design</p> </div>
        <div class="icons-contain"><img style="height:70px !important" src="static/icons/web-design-develoment-icon.svg" /><p>Web Development</p> </div>
        <div class="icons-contain"><img style="height:70px !important" src="static/icons/engraving-laser-icon.svg" /><p>Engraving</p> </div>
    </div>

    <!-- <div id="contact-us" style="width:40%;margin:60px auto; padding:20px;" class="border-spec">
    <h4> We’re excited to see you embracing online solutions! As the world shifts towards digital, we’re right there with you, ready to be a game-changer in the technology industry.</h4>
        <br>
         Sign up today!
        We’re committed to serving you without the need to leave your home or office. 
    </p>
    </div> -->
    <div style="color:rgb(214, 214, 214);margin:0 auto;font-size:small" >Photo by <a style="color:rgb(193, 193, 196);" href="https://unsplash.com/@microsoftedge?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Microsoft Edge</a> on <a style="color:rgb(237, 237, 238);" href="https://unsplash.com/photos/a-person-using-a-laptop-Px0X7g1mc8k?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </div>
</div>
{% endblock %}