<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <div class="physical_addr">
        <p>info@techxol.com</p>
        <p>P.O.Box 647 Ezulwini</p>
        <p>Ezulwini, Ngonini pass Examination Council</p>
    </div>

    <nav class="nav">
        <ul>
            <li class="links-li" ><a href="/">Home</a></li>
            <li class="links-li" ><a href="/#services">Services</a></li>
            <li class="links-li"><a href="/">About</a></li>
            <li class="links-li"><a href="/#contact_us">Contact Us</a></li>
        </ul>
    </nav>

    <div class="user">
        <ul class="user-label">
        {% if current_user.is_authenticated %}

                    <li><span style="font-size:13px" class="nav-link">Welcome, {{current_user.name}}</span></li>
                    <li><a class="btns-user links-user" href="#">Account</a></li>
                    <li><a class="btns-outlined links-user" href="/logout">Logout</a></li>
        {% else %}
                    <li><a class="btns-outlined links-user" href="/login">Login</a></li>
                    <li><a class="btns-user links-user" href="/client_signup">Register</a></li>

        {% endif %}
        </ul>
    </div>


    <link rel="stylesheet" type="text/css" href="static/styles.css" />

</head>
<body>
    <div class="container">
        {% block content %}
        {%endblock%}
    </div>

    <script src="static/js_script.js" ></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>