<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="static/images/techx-logo-icon.png">

    <div class="physical_addr">
        <p>info@techxolutions.com</p>
        <p>P.O.Box 647 Ezulwini</p>
        <p>Ezulwini, Ngonini pass Examination Council</p>
    </div>

    <nav class="nav">
        <ul>
            <li class="links-li" ><a href="/">Home</a></li>
            <li class="links-li" ><a href="/#services">Services</a></li>
            <li class="links-li"><a href="/about">About</a></li>
            <li class="links-li"><a href="/#contact_us">Contact Us</a></li>
        </ul>
    </nav>

<!--    <button class="menu burger">Menu</button>-->
    <div  onclick="openMenuFunc()" class="menu-icon">
        <div class="stroke"></div>
        <div class="stroke"></div>
        <div class="stroke"></div>
    </div>

    <div class="other-nav">
        <ul class="other-navbar-nav">
          <li class="other-nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/#contact_us">Contact Us</a>
          </li>
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/">Explore Apps</a>
          </li>
          <div class="navbar-separator"></div>
          <li class="other-nav-item">
            <a class="nav-link" href="/#engraving" >Engraving</a>
          </li>
        </ul>
    </div>

    <div style="background-color:" class="user">
        <ul class="user-label">
        {% if current_user.is_authenticated %}

                    <li><span style="font-size:13px" class="nav-link">Welcome, {{current_user.name}}</span></li>
                    <li><a class="btns-user links-user" href="/client_user_acc">Account</a></li>
                    <li><a class="btns-outlined links-user" href="/logout">Logout</a></li>
        {% else %}
                    <li><a class="btns-outlined links-user" href="/login">Login</a></li>
                    <li><a class="btns-user links-user" href="/client_signup">Register</a></li>

        {% endif %}
        </ul>
    </div>


</head>
<body>
    <div class="container">
        {% block content %}
        {%endblock%}
    </div>

    <script src="static/js_script.js" ></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>