{% extends "base.html" %}

{% block content %}


<br><br>
<h2 class="margin-zero-auto">Logo Design</h2><br>
<div style="background-color:#213555; " class="line"></div><br>

<div style="margin-top:50px; "  class="margin-zero-auto general-flex-row">

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:red;" class="circle-bg">LD</p>
        <h2>Logo Design</h2>
        <h3 style="color:red" class="border-outline">Basic</h3>
        <div style="background-color:red;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Artwork</li>
            <li>JPG, PNG + PDF Files</li>
        </ul>
        <h3 style="margin-bottom:-10px" class="">E450.00</h3><br>
        <button style="width:90px;background-color:red;" class="btns">Buy</button><br>
    </div>

     <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:coral;" class="circle-bg">LD</p>
        <h2>Logo Design</h2>
        <h3 style="color:coral;border-color:coral" class="border-outline">Choice</h3>
        <div style="background-color:coral;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Artwork</li>
            <li>Working file EPS, Ai</li>
            <li>JPG, PNG + PDF Files</li>
            <li>Letter Head + Email Signature</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E850.00</h3><br>
        <button style="width:90px;background-color:coral;" class="btns">Buy</button><br>
    </div>

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:#117A65 ;" class="circle-bg">LD</p>
        <h2>Logo Design</h2>
        <h3 style="color:#117A65 ;border-color:#117A65 " class="border-outline">Professional</h3>
        <div style="background-color:#117A65 ;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Artwork</li>
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Report</li>
            <li>All File Formats</li>
            <li>+5 Designs of Choice</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E2500.00</h3><br>
        <button style="width:90px;background-color:#117A65 ;" class="btns">Buy</button><br>
    </div>

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:#7D3C98;" class="circle-bg">LD</p>
        <h2>Logo Design</h2>
        <h3 style="color:#7D3C98 ;border-color:#7D3C98  " class="border-outline">Excecutive</h3>
        <div style="background-color:#7D3C98  ;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E6500.00</h3><br>
        <button style="width:90px;background-color:#7D3C98 ;" class="btns">Buy</button><br>
    </div>

</div>
<br><br><br>
<h2 style="color:#DC7633;margin-top:50px "  class="margin-zero-auto">Company Profile</h2><br>
<div style="background-color:#DC7633; " class="line"></div><br>


<div style="margin-top:50px; "  class="margin-zero-auto general-flex-row">

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:red;" class="circle-bg">CP</p>
        <h2>Company Profile</h2>
        <h3 style="color:red ;border-color:red " class="border-outline">1 - 3 Pages</h3>
        <div style="background-color:red;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E450.00</h3><br>
        <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
    </div>

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:coral;" class="circle-bg">CP</p>
        <h2>Company Profile</h2>
        <h3 style="color:coral ;border-color:coral  " class="border-outline">3 - 6 Pages</h3>
        <div style="background-color:coral ;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E650.00</h3><br>
        <button style="width:90px;background-color:coral ;" class="btns">Buy</button><br>
    </div>

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:#117864 " class="circle-bg">CP</p>
        <h2>Company Profile</h2>
        <h3 style="color:#117864  ;border-color:#117864  " class="border-outline">+6 Pages</h3>
        <div style="background-color:#117864  ;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E1050.00</h3><br>
        <button style="width:90px;background-color:#117864  ;" class="btns">Buy</button><br>
    </div>

</div>


<br><br><br>
<h2 style="color:#DC7633;margin-top:50px "  class="margin-zero-auto">Flyer</h2><br>
<div style="background-color:#DC7633; " class="line"></div><br>


<div style="margin-top:50px;"  class="margin-zero-auto general-flex-row">

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:red;" class="circle-bg">FL</p>
        <h2>Flyer</h2>
        <h3 style="color:red ;border-color:red " class="border-outline">1 Sided</h3>
        <div style="background-color:red;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">from E200.00</h3><br>
        <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
    </div>

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:coral;" class="circle-bg">FL</p>
        <h2>Flyer</h2>
        <h3 style="color:coral ;border-color:coral  " class="border-outline">Double Sided</h3>
        <div style="background-color:coral ;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E350.00</h3><br>
        <button style="width:90px;background-color:coral ;" class="btns">Buy</button><br>
    </div>
</div>

    <br><br><br>
<h2 style="color:#DC7633;margin-top:50px "  class="margin-zero-auto">Poster</h2><br>
<div style="background-color:#DC7633; " class="line"></div><br>


<div style="margin-top:50px;"  class="margin-zero-auto general-flex-row">

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:red;" class="circle-bg">PO</p>
        <h2>Poster</h2>
        <h3 style="color:red ;border-color:red " class="border-outline">Non-Commercial</h3>
        <div style="background-color:red;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">from E250.00</h3><br>
        <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
    </div>

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:coral;" class="circle-bg">PO</p>
        <h2>Poster</h2>
        <h3 style="color:coral ;border-color:coral  " class="border-outline">Commercial</h3>
        <div style="background-color:coral ;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">from E400.00</h3><br>
        <button style="width:90px;background-color:coral ;" class="btns">Buy</button><br>
    </div>


</div>

 <br><br><br>
<h2 style="color:#DC7633;margin-top:50px "  class="margin-zero-auto">Email Signature</h2><br>
<div style="background-color:#DC7633; " class="line"></div><br>


<div style="margin-top:50px;"  class="margin-zero-auto general-flex-row">

    <div style="width:350px" class="general-card general-align-col-c">
        <p style="background-color:red;" class="circle-bg">ES</p>
        <h2>Email Signature</h2>
        <h3 style="color:red ;border-color:red " class="border-outline">Standard</h3>
        <div style="background-color:red;" class="line"></div>
        <ul style="margin:30px 0">
            <li>Working file EPS, Ai</li>
            <li>Full Design Procedure</li>
            <li>Project Workbook</li>
            <li>All File Formats</li>
            <li>Full Company Branding</li>
        </ul>
         <h3 style="margin-bottom:-10px" class="">E180.00</h3><br>
        <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
    </div>



</div>


{% endblock %}