{% extends "base.html" %}
{% block content %}

    <style>
        .form-fields{
            display:flex;
            flex-direction:column;
        }
        section{ background-image:url(static/images/bg_service.png) }
    </style>

    <section>
        <div style="background-color:" class="banner-cap">
            <div class="center-prl-img">
                <div style=""  class="img-banner-cont">
                     <img class="prf-image" src="static/images/main-img.jpeg">
                </div>
                <div class="text-center-div">
                    <div class="logo-img-cont" ><img class="logo" src="static/images/TechX_white.png"></div>
                    <h2 style="color:coral;margin:5px auto;width:max-content" >Tech Xolutions</h2>
                    <p class="text-center">Exclusive Solutions, Powered by technology</p>
                </div>
            </div>
        </div>
    </section>

<div class="sub-container">
    <br><br>

    <div class="about-contain gen-flex">
        <img style="height:inherit;border-radius:15px;" src="static/images/microsoft-edge-Px0X7g1mc8k-unsplash.jpg" />
        <!-- <div ><object id="ad-icon-intro" type='image/svg+xml' data="static/icons/services-info-icon.svg"></object></div> -->
        <div style="justify-content: flex-start;" class="about-content-cont gen-flex-col">
            <div ><object id="ad-icon-intro" type='image/svg+xml' data="static/icons/services-info-icon.svg"></object></div>
            <span style="font-weight:600;font-size:16px;color:#21355a">Save Time - Increase Productivity, Unlock Opportunities & Ease Life</span>
            <br>
            <div class="lines-cont gen-flex"><div class="line-1"></div><div class="line-2"></div> </div><br>
            <span id="we-design" style="text-align: center;">
                We design and develop custom solutions tailored for institutions, businesses and communities to eliminate time-consuming tasks, improve collaboration, enhance communication, and increase efficiency.
            </span>
        </div>
    </div>
    <div  class="selling-tag envision">
        <span> At Tech Xolutions, we recognize technology as the key to reclaiming time and enhancing performance—whether for businesses, schools, agencies, or communities. Time is our most valuable asset, and we are committed to helping you preserve it and  
 ultimately unlock greater productivity and the freedom to explore new ideas.
</span><br><br>
        <div style="justify-content: center" class="lines-cont gen-flex"><div class="line-1"></div><div class="line-2"></div> </div>
    </div>

    <div class="services-overview ">
        <a class="hyper-links" id="services">
            <div style="color:white" class="sub-topics gen-flex-col">
                <p >Our Services Overview</p>
                <div style="color:white;font-size: 16px;max-width: 700px;text-align: center;">We are on a mission to design and develop cutting-edge & time-saving applications, 
                    boost productivity among teams and individuals, facialitate collaboration, and build systems that promote global interconnectivity.
                </div>
            </div>
        </a><br>
        <div class="services-overview-content gen-flex-wrap">
            <div class="cards gen-flex-col">
                <div><img class="ser-icons" src="static/icons/automation-icon.png"></div>
                <span class="ser-ov-title">Task Automation</span>
                <ul>
                    <li>Automating tasks frees up employees’ time to focus on more meaningful and human-centric work.</li>
                    <li>Utilize our automation tools to improve performance speed, reduce human error, and achieve your goals efficiently.</li>
                </ul>
            </div>

            <div class="cards gen-flex-col">
                <div><img class="ser-icons" src="static/icons/communication-icon.png"></div>
                <span class="ser-ov-title">Enhance Communication</span>
                <ul>
                    <li>Custom communication tools make the transfer of information, urgent updates, and delegation seamless.</li>
                    <li>Clear and efficient messaging is at the heart of every productive team.</li>
                </ul>
            </div>

            <div class="cards gen-flex-col">
                <div><img class="ser-icons" src="static/icons/collaboration-icon.png"></div>
                <span class="ser-ov-title">Embrace Collaboration</span>
                <ul>
                    <li>We design tools that support highly effective collaboration across geographically distributed teams.</li>
                    <li>Leverage our custom solutions to simplify working with remote employees and freelancers.</li>
                </ul>
            </div>

            <div class="cards gen-flex-col">
                <div><img class="ser-icons" src="static/icons/efficiency-icon.png"></div>
                <span class="ser-ov-title">Increase Efficiency</span>
                <ul>
                    <li>Free up valuable time and access tools to collect, process, and analyze data quickly and easily.</li>
                    <li>Make faster, data-driven decisions to move your organization forward.</li>
                </ul>
            </div>

        </div>

    </div>

    <div class="our-projects ">
        <a class="hyper-links" id="services">
            <div style="color:coral" class="sub-topics gen-flex-col">
                <p>Our Projects</p>
                <div style="color:rgb(63, 62, 62);font-size: 16px;max-width: 700px;text-align: center;">We are on a mission to design and develop cutting-edge & time-saving applications, 
                    boost productivity among teams and individuals, facialitate collaboration, and build systems that promote global interconnectivity.
                </div>
            </div>
        </a>
        <br>
        
        <div id="project-1" class="project gen-flex">
            <div class="project-content gen-flex-col">
                <img id="proj-img-qm" src="static/images/logo-02.png" />
                 <div class="project-info">
                     A platform that builds a dynamic business network and foster new partnerships and trade opportunities locally and across regions.
                     We're transforming messaging into a gateway for growth—connecting you with partners and amplifying your brand presence.
                </div><br>
                <button onclick="window.location.href='https://quickmessanger.com'" class="btns">Explore</button>
                <h4>Features</h4>
                <div style="align-items: stretch" class="features-cont gen-flex-wrap">
                    
                    <div id="feature-1" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/qm-messaging-icon.png" />
                            <h4>Smart Messaging</h4>
                            <ul>
                                <li>Send messages or emails wrapped in your corporate identity for enhanced professionalism and trust.</li>
                                <li>Get quick replies with persistent notifications. </li>
                                <li>Experince chat modelled conversations with our end-end encryption platform.</li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-2" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/business-comm-icon.png" />
                            <h4>Business Community</h4>
                            <ul>
                                <li>Smart Business Directory Cards make it easy to establish trade relationships and build networks.</li>
                                <li>Connect with businesses that share your interests and goals.</li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-3" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/advert-icon.png" />
                            <h4>Business Offerings</h4>
                            <ul>
                                <li>Promote your services both locally and internationally.</li>
                                <li>Expand your customer base and develop new trade partnerships with ease.</li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-4" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/business-news-icon.png" />
                            <h4>Company News</h4>
                            <ul>
                                <li>Share updates on business events, newsletters, community service initiatives, and more.</li>
                                <li>Stay informed about the latest activities from your partners and peers.</li>
                            </ul>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="project-visuals gen-flex-col">
                <img id="proj-img-1" src="static/images/logo-icon.png" />
                 <div class="project-info">
                     Get the App today,  We are transforming messaging into a gateway for growth—connecting you with partners and amplifying your brand presence.
                </div>

            </div>

        </div><br>
        <!-- <div id="project-2" class="project gen-flex"> -->
            <!-- <div class="project-content gen-flex-col">
                <h1>Church Administration and Membership System</h1>
                <img id="proj-img-qm" src="static/images/cammsys_logo_icon.png" /><br>
                 <div class="project-info">
                    A comprehensive software application designed to support churches with an integrated ecosystem of tools. It helps maintain accurate records, streamline communication,
                     manage and organize membership data, analyze church growth trends, and more.
                </div><br>
                <button onclick="window.location.href='https://camm.churchregistry.org'" style="background: coral;" class="btns">Explore</button>
                <h4>Features</h4>
                <div style="align-items: stretch" class="features-cont gen-flex-wrap">
                    
                    <div id="feature-1" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/announce-nav.png" />
                            <h4>Effortless Announcements</h4>
                            <ul>
                                <li class="serv-bullets"> Send Updates via Whatsapp & Email with a button</li>
                                <li>  Manage history of updates & re-send promptly</li>
                                <li> Keep Members updated 24/7</li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-2" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/members-nav.png" />
                            <h4>Online Self Registraion</h4>
                            <ul>
                                <li class="serv-bullets"> Adapt to digital registration tools - prevent data loss.</li>
                                <li> Manage members records and process & analyze data efficiently.</li>
                                <li> Access members statistics anytime and anywhere.</li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-3" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/financials-nav.png" />
                            <h4>Financial Records & Reporting</h4>
                             <ul>
                                <li class="serv-bullets"> Manage & Report timely Financial Records</li>
                                <li>  Embrace Financial Transparency to church members</li>
                                <li> Keep your records safe & secure for future uses</li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-4" class="features">
                        <div class="gen-flex-col">
                            <img src="static/icons/print-nav.png" />
                            <h4>Company News</h4>
                            <ul>
                                <li class="serv-bullets"> Print and Keeps all documents in Files</li>
                                <li> Keep documents both in software & hard copies for convience purposes</li>
                                <li> Print all members forms everytime there is a need</li>
                            </ul>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="project-visuals gen-flex-col">
                <img id="proj-img-1" src="static/icons/cammsys_logo_icon_white.png" />
                 <div class="project-info">
                     Get the App today,  We are transforming messaging into a gateway for growth—connecting you with partners and amplifying your brand presence.
                </div>
            </div> -->
        <!-- </div><br> -->

        <div  id="project-3" class="project gen-flex">
            <div style="background: none;" class="project-content gen-flex-col">
                <h1 style="color:#006769 !important">The Hustlers Time</h1>
                <img id="proj-img-qm" src="static/images/the-hustlers-time-logo.png" />
                 <div style="color:#4d4d4d" class="project-info">
                    Our Job Board is dedicated to maximizing and fostering the adoption of remote and freelance employment to help local companies improve efficiency, access to diverse
                     specialized skills, and boost production speed and flexibility. By hiring freelancers only when needed, businesses can optimize costs and resources.
                     Balance your workforce with freelance professionals to accelerate your production cycle while staying focused on your core responsibilities.
                </div><br>
                <button onclick="window.location.href='https://jobs.techxolutions.com'" class="btns">Explore</button>
                <h4 style="color:#006769 !important">Benefits</h4>
                <div style="align-items: stretch" class="features-cont gen-flex-wrap">
                    
                    <div id="feature-1" class="features tht-features">
                        <div class="gen-flex-col">
                            <div ><img src="static/icons/speed-icon.png" class="freel-icons" /></div>
                            <h4>Increase Speed & Agility</h4>
                            <div class="benefit-content">With the ability to post immediate job openings, you can
                                quickly respond to fluctuating workloads - bringing in freelancers who can start almost
                                instantly.
                            </div>
                        </div>
                    </div>

                    <div id="feature-2" class="features tht-features">
                        <div class="gen-flex-col">
                            <div><img src="static/icons/mission-icon.png" class="freel-icons" /></div>
                            <h4>Focus on Core Activities</h4>
                            <div class="benefit-content">Delegate urgent tasks to freelancers - concentrate on strategic initiatives, thereby
                                increasing overall productivity.
                            </div>
                        </div>
                    </div>

                    <div id="feature-3" class="features tht-features">
                        <div class="gen-flex-col">
                            <div><img src="static/icons/flexibility-icon.png" class="freel-icons" /></div>
                            <h4>Increase Flexibility</h4>
                            <div class="benefit-content">Fill short-term positions urgently without the need for 
                                long-term commitment.
                            </div>
                        </div>
                    </div>

                    <div id="feature-4" class="features tht-features">
                        <div class="gen-flex-col">
                            <div><img src="static/icons/specialized-skills.png" class="freel-icons" /></div>
                                <h4>Access to Specialized Skills</h4>
                                <div class="benefit-content">Tap into a broad network of ambitious talents with specific
                                    expertise who can manage one-off tasks or projects.
                                </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- <div class="project-visuals gen-flex-col">
                <img id="proj-img-1" src="static/icons/cammsys_logo_icon_white.png" />
                 <div class="project-info">
                     Get the App today,  We are transforming messaging into a gateway for growth—connecting you with partners and amplifying your brand presence.
                </div>
            </div> -->
        </div>
    </div><br><br>
    <div style="color:coral;margin:0 auto;width:max-content;font-size:37px;font-weight: 500;">Contact Us</div><br>
    <div style="width:35%;margin:0 auto" class="lines-cont gen-flex"><div class="line-1"></div><div class="line-2"></div> </div><br>
    <div id="contact-us" style="width:40%;margin:60px auto; padding:20px;" class="border-spec">
            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for  category, message in messages %}
                            <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <h1 style="color:#21355a !important">We would love to hear from you, <br><span class="spans">Write to us</span></h1>
            <div class="contact-form">
                <form style="width:100%;" action = "{{url_for('contact_us')}}" method="post" >
                    {{contact_form.hidden_tag()}}
                    <div  style="width:100%;">
                        {{contact_form.name(class="contact-form-control",placeholder="Name")}}
                    </div>
                    <div>
                        {{contact_form.email(class="contact-form-control",placeholder="Email Address")}}
                    </div>
                    <div>
                        {{contact_form.subject(class="contact-form-control",placeholder="Subject")}}
                    </div>
                    <div>
                        {{contact_form.message(class="contact-form-control  text-area",placeholder="Message")}}
                    </div>
                    <div>
                        {{contact_form.submit}}
                    </div>

                </form>
            </div>
    </div>

    <div class="spacing"></div>
</div>


<script>
    //Pop up Form, #not used
    function ProcessFrom(){
        let submtBtn = document.createElement('input');
        submtBtn.type = 'submit';
        let par = document.querySelector('form');
        $(document).ready(function(){
               par.appendChild(submtBtn);
            $('.pop-btns').click(function(){
                console.log('Cleicked: ',$('form').serializeArray());
                $('submit').submit()
            })
        })
    }

    //Page load animations
    const divs = document.querySelectorAll(".hidden");
    if (window.innerWidth >= 600){
        var observer = new IntersectionObserver(entries => {
            entries.forEach(entry =>{
                //console.log(entry.target)
                entry.target.classList.toggle("show", entry.isIntersecting)
                if (entry.isIntersecting) observer.unobserve(entry.target)
                });
                },{
                    threshold: 0.1,
                    });   //{threshold: 0.5,}

        divs.forEach(div =>{
            observer.observe(div)
    });
    }else{
        var observer = new IntersectionObserver(entries => {
        entries.forEach(entry =>{
            //console.log(entry.target)
            entry.target.classList.toggle("show", entry.isIntersecting)
            if (entry.isIntersecting) observer.unobserve(entry.target)
            });
            },{
                threshold: 0.1,
                });   //{threshold: 0.5,}

    divs.forEach(div =>{
        observer.observe(div)
        console.log("Width is below 600: ",window.innerWidth)
        });
    }


document.getElementById('scroll-left').addEventListener('click', function() {
    const container = document.querySelector('.engraving-ideas');
    const imgContainer = document.querySelector('.bus-icons-engr');
    const firstImg = document.querySelector('img');
    // if (!firstImg) return;
    const imageWidth = firstImg.clientWidth;
    
    if (window.innerWidth >= 600){
        container.scrollBy({
            left: -600, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }else{
        container.scrollBy({
            left: -imageWidth, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }
});

document.getElementById('scroll-right').addEventListener('click', function() {
    console.log("Testing");
    const container = document.querySelector('.engraving-ideas');
    const imgContainer = document.querySelector('.bus-icons-engr');
    const firstImg = document.querySelector('img');
    // if (!firstImg) return;
    const imageWidth = firstImg.clientWidth;
    
    if (window.innerWidth >= 600){
        container.scrollBy({
            left: 600, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }else{
        container.scrollBy({
            left: imageWidth, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }
});

// Engraving 
document.getElementById('scroll-left-2').addEventListener('click', function() {
    const container = document.querySelector('#engraving-ideas');
    const imgContainer = document.querySelector('.bus-icons-engr');
    const firstImg = document.querySelector('img');
    // if (!firstImg) return;
    const imageWidth = firstImg.clientWidth;
    
    if (window.innerWidth >= 600){
        container.scrollBy({
            left: -600, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }else{
        container.scrollBy({
            left: -imageWidth, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }
});

document.getElementById('scroll-right-2').addEventListener('click', function() {
    console.log("Testing");
    const container = document.querySelector('#engraving-ideas');
    const imgContainer = document.querySelector('.bus-icons-engr');
    const firstImg = document.querySelector('img');
    // if (!firstImg) return;
    const imageWidth = firstImg.clientWidth;
    
    if (window.innerWidth >= 600){
        container.scrollBy({
            left: 600, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }else{
        container.scrollBy({
            left: imageWidth, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }
});

// Swipe functionality
const container = document.querySelector('.engraving-ideas');
let startX;

container.addEventListener('touchstart', function(event) {
    startX = event.touches[0].clientX;
});

container.addEventListener('touchmove', function(event) {
    if (!startX) return;

    const touch = event.touches[0];
    const diffX = touch.clientX - startX;

    if (Math.abs(diffX) > 50) { // Threshold for swipe detection
        event.preventDefault(); // Prevent default scrolling behavior if necessary
        // const imageWidth = container.querySelector('img').clientWidth || 350;
        if (diffX > 0) {
            // Swiped right - scroll left
            container.scrollBy({
                left: -diffX,
                behavior: 'smooth'
            });
        } else {
            // Swiped left - scroll right
            container.scrollBy({
                left: diffX,
                behavior: 'smooth'
            });
        }
        // Reset startX to prevent repeated scrolls
        startX = touch.clientX;
    }
});

container.addEventListener('touchend', function() {
    startX = null;
});


</script>
{% endblock %}