{% extends "base.html" %}

{% block content %}



 <br><br><br>
<h2 style="color:#DC7633;margin-top:50px "  class="margin-zero-auto">Website Development - Once-Off Payments</h2><br>
<div style="background-color:#DC7633; " class="line"></div><br>

<div style="margin-top:50px; "  class="margin-zero-auto general-flex-row">

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:red;" class="circle-bg">WD</p>
            <h2>Single Page Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">Simple</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li>1 Static Page</li>

            </ul>
             <h3 style="margin-bottom:-10px" class="">E450.00</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:red;" class="circle-bg">WD</p>
            <h2>Standard Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">Standard</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 2-4 Page Website</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E2 000.00</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:red;" class="circle-bg">WD</p>
            <h2>Standard Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">Standard</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 2-4 Page Website</li>
                <li>Free 6 months Maintenance</li>
                <li>Free 6 months Maintenance</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E2 450.00</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:orange;" class="circle-bg">WD</p>
            <h2>Professional Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">Web Business</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 2-4 Page Website</li>
                <li>Free 6 months Maintenance</li>
                <li>Contact Forms</li>
                <li>Domain Registration</li>
                <li>Web Hosting</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E2 450.00</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:purple;" class="circle-bg">WD</p>
            <h2>Standard Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">E-Commerce</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 1+ Page Website</li>
                <li>Free 6 months Maintenance</li>
                <li>Contact Forms</li>
                <li>Domain Registration</li>
                <li>Web Hosting</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E5 550.00</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:purple;" class="circle-bg">WD</p>
            <h2>Standard Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">E-Commerce</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 1+ Page Website</li>
                <li>Free 6 months Maintenance</li>
                <li>Contact Forms</li>
                <li>Domain Registration</li>
                <li>Web Hosting</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E5 550.00</h3><br>
            <a href="/web_design_brief" class="btns a-links">Buy</a><br>
        </div>

</div>

<br><br><br>
<h2 style="color:#DC7633;margin-top:50px "  class="margin-zero-auto">Website Development - Flexi Payments</h2><br>
<div style="background-color:#DC7633; " class="line"></div><br>

<div style="margin-top:50px; "  class="margin-zero-auto general-flex-row">


        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:red;" class="circle-bg">WD</p>
            <h2>Standard Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">Standard</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 2-4 Page Website</li>

            </ul>
             <h3 style="margin-bottom:-10px" class="">from E450/pm</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>


        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:orange;" class="circle-bg">WD</p>
            <h2>Professional Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">Web Business</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 2-4 Page Website</li>
                <li>Free 6 months Maintenance</li>
                <li>Contact Forms</li>
                <li>Domain Registration</li>
                <li>Web Hosting</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E550/pm</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>

        <div style="width:300px" class="general-card general-align-col-c">
            <p style="background-color:purple;" class="circle-bg">WD</p>
            <h2>Standard Website</h2>
            <h3 style="color:red ;border-color:red " class="border-outline">E-Commerce</h3>
    <!--        <div style="background-color:red;" class="line"></div>-->
            <ul style="margin:30px 0">
                <li> 1+ Page Website</li>
                <li>Free 6 months Maintenance</li>
                <li>Contact Forms</li>
                <li>Domain Registration</li>
                <li>Web Hosting</li>
            </ul>
             <h3 style="margin-bottom:-10px" class="">from E850/pm</h3><br>
            <button style="width:90px;background-color:red ;" class="btns">Buy</button><br>
        </div>



</div>
{% endblock %}